

.grid-12 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 20px 32px;
}

.guide__item--one {
    grid-column: 1/4;
    margin-bottom: 30px;

}
.guide__item--two{
    grid-column: 4/7;
    margin-bottom: 30px;


}
.guide__item--three{
    grid-column: 7/10;
    margin-bottom: 30px;


}
.guide__item--four{
    grid-column: 10/13;
    margin-bottom: 30px;


}


.guide__item {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 16px;
    display: grid;
    background: url(../../assets/svg/bg-el.svg);
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: fit-content(100%);
    background-size: cover;
    background-repeat: no-repeat;
}

.heading {
    font-family: Lexend;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 45px;
    letter-spacing: -0.02em;
    color: #ffffff;
    -ms-grid-column: 1;
    -ms-grid-column-span: 12;
    grid-column: 1/13;
    position: relative;
}

.heading--decorator {
    padding: 0 0 0 24px;
}

.guide__heading {
    margin: 0 0 45px 0;
}



.heading--decorator:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 8px;
    background: #2c35ff;
}


.guide__items {
    width: 80%;
    margin: auto;
}

.guide-item__img {
    max-width: 150px;
    max-height: 150px;
    margin: 37px 0 0 0;
}
.guide-item__number {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-column-align: start;
    justify-self: start;
    font-family: Lexend;
    font-style: normal;
    font-weight: 600;
    font-size: 56px;
    line-height: 70px;
    text-align: center;
    letter-spacing: -0.02em;
    padding: 11px 16px;
    color: rgba(255, 255, 255, 0.05);
}

.guide-item__img-wrap {
    -ms-grid-row: 1;
    grid-row: 1;
    -ms-grid-column: 1;

    grid-column: 1;
    display: none;
    justify-content: center;
    align-items: center;
}

.guide-item__heading {
    font-family: Lexend;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: -0.02em;
    color: #ffffff;
    padding: 0 18px 8px 18px;
    max-width: 200px;
}

.guide-item__text {
    font-family: Lexend;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 23px;
    padding: 0 16px 10px 22px;
    letter-spacing: -0.02em;
    color: #caced5;
}


@media (max-width: 1023px){
.guide__item--two {
    grid-column: 7/13;
}


.guide__item--one {
    grid-column: 1/7;

}

.guide__item--three{
    grid-column: 1/7;

}
.guide__item--four{
    grid-column: 7/13;

}


.guide__items {
    width: 95%;
    margin: auto;
}
}

@media (max-width: 525px){
.guide__item--two {
    grid-column: 1/13;
}


.guide__item--one {
    grid-column: 1/13;

}

.guide__item--three{
    grid-column: 1/13;

}
.guide__item--four{
    grid-column: 1/13;

}


.guide__items {
    width: 95%;
    margin: auto;
}
}

